@import 'variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.Home {
  height: $appHeight;
  margin-top: -$headerHeight;
  overflow: auto;
  .landing {
    height: 40vh;
    .leftContent {
      background-image: linear-gradient(to left, rgba(0,0,0,0), $pds-space-3 35%, $pds-space-3 65%, rgba(0,0,0,0) 100%);
      opacity: .9;
      .fancyLetters {
        text-shadow: 2px 2px $pds-space-4;
        letter-spacing: 5px;
        border-left: 4px solid $pds-primary;
        padding-left: 20px;
      }
    }
  }
  .categoriesSection {
    padding-left: $pageSidePadding;
    padding-right: $pageSidePadding;
    background-color: $bodyBackground;
  }
  .aboutSection {
    background-color: $pds-olive-2;
    img {
      height: 100px;
      max-width: 100%;
    }
  }
  .featuredProductsList {
    >div {
      display: inline-block;
      width: 75%;
      .customCard {
        padding: 2rem;
        margin: 1rem 0px;
        background: $bodyBackground;

        &.textCard {
          background-color: $pds-space-5;
          .bigText {
            letter-spacing: 3px;
          }
        }

        &.footerCard {
          background-color: $pds-space-9;
          color: $pds-space-4;
          a {
            color: inherit;
            &:hover {
              color: $pds-space-1
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .Home {
    .featuredProductsList {
      >div {
        width: 50%;
      }
    }
  }
}