@import 'variables';

.Catalog {
  .sectionHeader {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: $containerBorder;
  }
  .sectionBody {
    .gridControls {
      .productFamilyInput {
        max-width: 160px;
      }
      .viewToggleButtons {
        button {
          color: $pds-primary;
          border-color: $containerBorder;
          &:hover {
            background-color: unset;
            color: $pds-primary-hover;
          }
          &.current {
            background-color: $pds-primary;
            border-color: $pds-primary;
            color: white;
          }
        }
      }
    }
  }
}