// Place theme specific classes in this file.

.LightTheme {
  .ActionBar {
    background-color: white;
  }
  .VerticalNav {
    background-color: white;
  }
  .Main {
    .mainContentCard {
      background-color: white;
    }
  }
  .ProductCard {
    background-color: white;
  }
}

.DarkTheme {
  
}
